* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #000000;
}

.body {
    display: grid;
    grid-template-rows: 0.5fr 1fr auto; 
    min-height: 100vh;
    position: relative;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.result {
    background-color: #333;
    margin-bottom: 20px;
    color: #fff;
    width: 30rem;
    padding: 3px 10px;
    border: PowderBlue 5px double;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gothic A1', sans-serif;
    @media (min-width: 600px){
        width: 40rem;
    }
    @media (min-width: 768px){
        width: 60rem;
    }
    @media (min-width: 1250px){
        width: 75rem;
    }
    @media (min-width: 1800px){
        width: 90rem;
    }
    &__title{
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 2rem;
        color: rgb(0, 0, 0);
        text-shadow: 0.025rem 0.025rem 1.5rem #ffffff, 
        0.025rem -0.025rem 1.5rem #ffffff, 
        -0.025rem 0.025rem 1.5rem #ffffff, 
        -0.025rem -0.025rem 1.5rem #ffffff, 
        0.025rem 0 0.2rem #ffffff, 
        -0.025rem 0 0.2rem #ffffff, 
        0 0.025rem 0.5rem #ffffff, 
        0 -0.025rem 0.5rem #ffffff;
        @media (min-width: 600px){
            font-size: 2.5rem;
        }
        @media (min-width: 768px){
            font-size: 3rem;
        }
    }
    &__img{
        width: 25rem;
        height: auto;
        border-radius: 1rem;
        border: white double 5px;
        @media (min-width: 600px){
            width: 35rem;
        }
        @media (min-width: 768px){
            width: 40rem;
        }
    }
    &__slogan{
        font-size: 1rem;
        text-align: center;
        color: white;
        padding: 1rem 1rem 1rem 1rem;
        @media (min-width: 600px){
            font-size: 1.5rem;
        }
        @media (min-width: 768px){
            font-size: 2rem;
        }
    }
}
.header {
    background-image: url(../images/mobileheader.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    @media (min-width: 550px){
        background-image: url(../images/tabletheader.jpg);
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
    }
    @media (min-width: 750px){
        background-image: url(../images/header2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        height: 55vh;
    }
    @media (min-width: 1024px){
        background-image: url(../images/header3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }
    @media (min-width: 1125px){
        height: 35vh;
    }    
    @media (min-width: 1280px){
        height: 40vh;
    }
    @media (min-width: 1450px){
        height: 45vh;
    }
    @media (min-width: 1600px){
    background-image: url(../images/headerphoto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    flex-direction: column;
    &__div {
        display: flex;
        justify-content: center;
        &--who,
        &--again {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20rem;
            height: 5rem;
            font-size: 1.5rem;
            border-radius: 1rem;
            cursor: pointer;
            font-family: 'Gothic A1', sans-serif;
            font-weight: bold;
            color: white;
            background-color: black;
            box-shadow: 0.5rem 0.5rem 1rem #fff, 
            0.5rem -0.5rem 1rem #f5f5f5, 
            -0.5rem 0.5rem 2rem #fff, 
            -0.5rem -0.5rem 2rem #f5f5f5, 
            0.5rem 0 0.5rem #fff, 
            -0.5rem 0 0.5rem #f5f5f5, 
            0 0.5rem 2rem #fff, 
            0 -0.5rem 2rem #f5f5f5;
            @media (min-width: 1200px){
                width: 30rem;
                font-size: 2rem;
            }

        &:hover{
            color: black;
            background-color: white;
            border: none;
            text-transform: uppercase;
        }
        }
    }
}


.questions {
    font-family: 'Gothic A1', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;

    &__div {
        background-color: #a3bada ;
        margin-bottom: 30px;
        color: #fff;
        width: 30rem;
        height: auto;
        border: white 8px double;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 2rem 2rem 2rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;

        @media (min-width: 600px) {
            width: 40rem;
        }
        @media (min-width: 768px) {
            width: 60rem;
        }
        @media (min-width: 1250px) {
            width: 75rem;
        }
        @media (min-width: 1800px) {
            width: 90rem;
        }

        &--p {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: center;
            font-family: 'Gothic A1', sans-serif;
            font-weight: 600;
            text-shadow: 0.025rem 0.025rem 1.5rem #ba5fbaa5,
                            0.025rem -0.025rem 1.5rem #ba5fbaa5,
                            -0.025rem 0.025rem 1.5rem #ba5fbaa5,
                            -0.025rem -0.025rem 1.5rem #ba5fbaa5,
                            0.025rem 0 0.2rem #ba5fbaa5,
                            -0.025rem 0 0.2rem #ba5fbaa5,
                            0 0.025rem 0.5rem #ba5fbaa5,
                            0 -0.025rem 0.5rem #ba5fbaa5;

            @media (min-width: 768px) {
                font-size: 2rem;
            }
            @media (min-width: 1024px) {
                font-size: 2.5rem;
            }
            @media (min-width: 1600px) {
                font-size: 3.5rem;
            }
        }

        &--div {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            font-family: 'Gothic A1', sans-serif;
            font-weight: 300;
            height: auto;
            width: 95%;
            background-color: #48729a;
            padding: 0.5rem 1rem 0.5rem 1rem;
            text-align: center;
            border: #ffffff 5px double;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;

            &:hover {
                background-color: #ba5fbaa5;
                cursor: pointer;
                box-shadow: 0.05rem 0.05rem 1rem #fff, 0.05rem -0.05rem 1rem #f5f5f5, -0.05rem 0.05rem 1.5rem #fff, -0.05rem -0.05rem 1.5rem #f5f5f5, 0.05rem 0 0.5rem #fff, -0.05rem 0 0.5rem #f5f5f5, 0 0.05rem 2rem #fff, 0 -0.05rem 2rem #f5f5f5;
            }

            &--input {
                margin-right: 10px;
                display: none;
                cursor: pointer;
                pointer-events: none; /* Evitar interacción con el elemento */

                &:checked + .questions__div--div--label {
                    font-weight: 600;
                    cursor: pointer;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background-color: #ba5fbaa5;
                }
            }

            &--label {
                font-size: 1.5rem;
                cursor: pointer;
                width: 100%;

                &:hover {
                    font-weight: 600;
                }

                @media (min-width: 768px) {
                    font-size: 2rem;
                }
                @media (min-width: 1024px) {
                    font-size: 2rem;
                }

                /* Estilos cuando el input está marcado */
                & + .questions__div--div--label {
                    font-weight: 600;
                    cursor: pointer;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background-color: #ba5fbaa5;
                }
            }
        }
    }
}


    .btnStart{
        display:inline-block;
        position:relative;
        padding:5px 5px;
        border:4px double rgb(255, 255, 255);
        color:rgb(255, 255, 255);
        font-family: 'Gothic A1', sans-serif;
        font-style:italic;
        font-size:30px;
        text-decoration:none;
        margin:20px auto;
        transition: color 0.4s;
        background-color: black;
        font-weight: bold;
        width: 25rem;
        height: 8rem;
        font-size: 2rem;
        transition: transform 0.3s ease;
        &:after{
            content:" ";
            border:5px solid #ffffff00;
            display:inline-block;
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:auto;
            transition:all 0.4s;
            }
            &:hover{
                color:#000000;
                text-shadow: 0.025rem 0.025rem 1.5rem #ffffff, 
                0.025rem -0.025rem 1.5rem #ffffff, 
                -0.025rem 0.025rem 1.5rem #ffffff, 
                -0.025rem -0.025rem 1.5rem #ffffff, 
                0.025rem 0 0.2rem #ffffff, 
                -0.025rem 0 0.2rem #ffffff, 
                0 0.025rem 0.5rem #ffffff, 
                0 -0.025rem 0.5rem #ffffff;
                transform: scale(1.2);
                cursor: pointer;
            }
            &:hover:after{  
                border:4px double rgb(255, 255, 255);
                width: calc(100% - 20px);
                height: calc(100% + 20px);
                text-transform: uppercase;
            }
            @media (min-width: 1200px){
                width: 35rem;
                height: 10rem;
                font-size: 3rem;
            }
            @media (min-width: 1600px){
                width: 45rem;
                height: 10rem;
                font-size: 4rem;
            }
        }

        .footer{
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;
            padding-inline: 5rem;
            margin-top: 2rem;
            height: 7rem;
            width: 100%;
            background-color: rgb(55, 55, 55);
            @media (min-width: 768px){
                flex-direction: row;
                justify-content: space-between;
                height: 5rem;
            }
            &__dedicatoria{
                color: white;
                font-size: 1rem;
                font-family: 'Gothic A1', sans-serif;
                padding-top: 1rem;
                @media (min-width: 550px){
                    font-size: 1.5rem;
                }
                @media (min-width: 1024px){
                    font-size: 2rem;
                }
            }
            &__autor{
                color: white;
                font-size: 1rem;
                font-family: 'Gothic A1', sans-serif;
                @media (min-width: 550px){
                    font-size: 1.5rem;
                }
                @media (min-width: 768px){
                    padding-top: 1rem;
                }
                @media (min-width: 1024px){
                    font-size: 2rem;
                }
            }

        }